.App {
  text-align: center;
}

.birthday {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
}

.message {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.message > img {
  flex-shrink: 1;
}

.name {
  font-size: 60px;
  font-family: "Dosis";
  font-weight: 600;
  height: 40%;
}

.gif {
  height: 40%;
  flex-shrink: 1;
}

.gif > img {
  height: 100%;
}

